   // carrousel
   @media (min-width: 768px) {
    .tamaño {
        padding: 1rem;
        width:820px;
        font-family: $fuentePrincipal;
    
    }
}    

.tamanio-card-index {
    width: 300px;
}
