/* 2023 carreras */

.col:hover {
    box-shadow: 5px 5px 20px rgba(212, 133, 29, 0.808);
    transform: translateY(-3%);
}

.card:hover {
        box-shadow: 5px 5px 20px rgba(212, 133, 29, 0.808);
        transform: translateY(-3%);
    }
.textoSanJuan {
    padding: 2rem;
 }

.fotos:hover {
    box-shadow: 5px 5px 20px rgba(212, 133, 29, 0.808);
        transform: translateY(-3%);
 }
 @media (min-width: 300px) {
.card {
    width: 100%;
    height: auto;
    margin: 2rem;
    padding: 1rem;
    }
 }
 .card-body {
    background-image: url(../img/montanas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $blanco;
    text-align: center;
    text-decoration: dotted;
    background-attachment: fixed;
 }
 .list-group-item {
    text-align: center;
 }
