/* formulario */
@media (min-width: 350px) {
    .containerFormulario {
        width: auto;
    }
}
    

.formulario {
    background-color: #df3f0e;
    margin: 10rem;
    border-radius: 2rem;
    color: #fff;
    padding: 2rem;
    font-size: 2rem;

}
.color3 {
    background-color: #fff;
}
.terminos {
    color: #fff;
}
.terminos2 {
    color: #000;
}
.comentarios {
    color: #000;
    font-size: 2rem;
    border-radius: 1rem;
}


.containerFormulario {
    width: auto;
    background-color: #d84a08;
    border-radius: 2rem;
        }
  
    
.container {
width: auto;
/* background-color: #000; */
border-radius: 2rem;
    }