/*galeria*/
  
    
html {
    box-sizing: border-box;
    font-size: 62.5%;
}


    /**productos**/
    
    .fotos{
        background-color: $primarioOscuro;
        padding: 1rem;
        margin-bottom: 2rem;
    
    
    }
    @media (min-width: 468px) {
        .fotos {
            margin-bottom: 2rem;
        }
    }

    /* @media (min-width: 468px) {
        
    // 
    .corredor__imagen .fotos{
        visibility:unset;

    }
    } */

    .corredor__nombre{
        font-size: 4rem;
        
    }
    
    .corredor__leyenda{
     font-size: 2.8rem;
     color: $secundario;
    }
    
    .corredor__nombre,
    .corredor__leyenda {
        font-family: $fuenteSecundaria;
        margin: 1rem 0;
        text-align: center;
        line-height: 1.2;
    }
    
    @media (min-width: 468px) {
        .corredor__nombre,
        .corredor__leyenda {
            // font-family: $fuentePrincipal;
            margin: 1rem 0;
            text-align: center;
            line-height: 1.2;
        }
    }