 /*globales*/
 h1, h2, h4 {
    font-size: 1.6rem;
    font-family: $fuentePrincipal;
}

 @media (min-width: 468px) {
    h1, h2, h4 {
        font-size: 1.6rem;
        font-family: $fuentePrincipal;
    }
    
}
body {
    /* background-image: linear-gradient(to bottom, #000, #b94e2d38); */
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #000;
   
}

.margenes {
    padding: 1rem;
   
   }

p{ 
    font-size: 2rem;
    font-family: $fuenteSecundaria;
    color: $blanco;
    justify-content: center;
    text-align: justify;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.by {
    padding: 0rem 0rem 1rem 0rem;
    text-align: right;
    margin: 0 auto;
    line-height: 1.2;
    font-family: $fuentePrincipal
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
    color: secundario;
    font-family: $fuentePrincipal;

}
h1  {
    font-size: 4rem;
    font-family: $fuentePrincipal;
    color: $secundario;
    text-align: center;

}

h5, h2, h3 {
    font-size: 3.5rem;
    font-family: $fuentePrincipal;
    color: $secundario;
    text-align: center;
}

h3 {
    font-size: 3rem;
    font-family: $fuentePrincipal;
    color: $secundario;
    text-align: center;
}
 
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;

}
h4 {
    font-size: 2rem;
    color: black;
}
h5 {
    font-size: 2rem;
    color: #5c3407;
    background-color: #fff;
    background-size: 2rem
}
// bootstrap
[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
    width: 100%; }

    .tooltip-red {
      --balloon-color: red;
    }
    
    .tooltip-big-text {
      --balloon-font-size: 20px;
      background-color: #d84a08;
    }
    
    .tooltip-slide {
      --balloon-move: 30px;
    }

    .agrandarIcono{
      font-size: 20px;
    }