/* BARRA NAVEGACIÓN */

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: $negro;
}

.mi-logo {
    height: 50px;
}

.container-fluid {
    --bs-gutter-x: 0;
    }

.decoracion-letras {
    font-size: 16px;
    font-family: $fuentePrincipal;
}


@media (min-width: 768px) {
    .tamaño {
        padding: 2rem;
        width: 800px;
        font-family: $fuentePrincipal;
    }

.logo {
    
    width: 500px;
}

.menu {
        color: white;
        padding: 1rem;
        margin: 5px;
        gap: 4rem;
        text-align: justify;
        font-size: 2rem;
    }

}
 /**navegación*/
    /* @media (min-width: 468px) { */
        .fondoLogo {
            background-color: $negro;
            display:grid;
            justify-content: center;

            
        }
   
.navegacion {
        background-color: $primarioOscuro;
        padding: 1rem;
        display: flex;
    
    }

.color2 {
    background-color: #d84a08;
    padding-left: 2rem; 
    color:$primarioOscuro;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
   }

   
   
    /*distinción entre cajas*/
    .separacion {
        background-color: #000;
    }
    
@media (min-width: 300px) {  
        
        .separacion {
            padding: 2rem; 
            margin-top: 2%;
        }
    }
@media (min-width: 768px) {  
        
    .separacion {
        padding: 2rem; 
        margin-top: 2%;
    }
}
@media (min-width: 300px) { 
.separacion1 {
    padding: 2rem; 
    margin-top: 2%;
}
}
    @media (min-width: 768px) {
        .imagen {
            padding: 20px;
        }
    }
    
    .figura {
        width: 120px;
    }

    .btn {
        font-size: 3rem;
        border-radius: 2rem;
        background-color: $primarioOscuro;
        color: #000;
        border-color: black;
    }

.nav-link {
    margin-left: 10rem;
    left: 2rem;
    padding-left: 2rem;
    color: #d84a08;
}
.navbar-brand {
    display: grid;
    margin-left: 20rem;
    color: #d84a08;
    justify-content: center;
  
}
.tamanio {
    font-size: 2rem;

}
.tamanio:hover {
    color: rgb(63, 219, 24);
}

.navbar {
    background-color: #d84a08;

 }
// navegacion especial


.logo2 {
        width: 50px;
       margin: 10px;
       background-color: $negro;
       border-radius: 5%;
       padding: 1rem;
}

@media (min-width: 300px) {
    .logo2 {
        width: 150px;
       margin: 10px;
       background-color: $negro;
       border-radius: 5%;
       padding: 1rem;
}
}

.icono-nav {
    width: 35px;
}