$primario: #df3f0e;
$primarioOscuro: #d84a08;
$secundario: #ffce00;
$secundarioOscuro: rgb(233,287,2);
$blanco: #fff;
$negro: #000;

$fuentePrincipal: 'Amaranth', cursive;
$fuenteSecundaria: 'Amarante', cursive;


// --balloon-border-radius: 2px;
// --balloon-color: rgba(16, 16, 16, 0.95);
// --balloon-text-color: #fff;
// --balloon-font-size: 12px;
// --balloon-move: 4px; 



// // Variable overrides second
// $primary: #900;
// $enable-shadows: true;
// $prefix: "mo-";

